.Checklist {
  width: 100%;
  max-width: calc(100% - var(--margins));
  margin: var(--margins) 0;
  padding: 0;
  column-gap: var(--margins);
}

.todo-category {
  width: 100%;
  height: fit-content;
  text-align: left;
  display: inline-block;
}

.category-header {
  padding: 22px 8px 6px 10px;
}

.category-header > span {
  line-height: 1.5;
  font-weight: bold;
  font-size: 0.875rem;
}

.todos {
  display: flex;
  flex-flow: column;
}
