.Card {
  padding: var(--margins);
  padding-bottom: calc(var(--margins) + (var(--border-radius) / 2));
  text-align: left;
  flex: 1 1 auto;
  color: inherit;
  border-radius: var(--border-radius);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: calc(-1 * var(--border-radius));
  max-width: 100%;
  width: auto;
  background: #262626;
  box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.1) inset,1px 0px 0px 0px rgba(255,255,255,0.1) inset,-1px 0px 0px 0px rgba(0,0,0,0.1) inset;
  transition: all 0.15s;
}

.ongoing {
  background: #3d5a99;
}

.ongoing.maintenance {
  background: #964040;
}

.Card:hover,
.Card:focus,
.Card:active {
  background: #333333;
}

.Card h2 {
  width: fit-content;
  margin: 0 0 calc(var(--margins) / 2) calc(var(--margins) / -2);
  font-size: 1.125rem;
  display: flex;
  align-items: center;
}

.Card h2 img {
  margin-right: calc(var(--margins) / 5);
}

.Card p {
  margin: 0;
  font-size: 1rem;
}

.Card .description {
  padding: 0;
  margin: 0;
  padding-top: 0.4375rem;
  font-size: 0.875rem;
  line-height: 1.2;
  text-align: left;
  transition: all 0.15s;
}

.Card .description.collapsed {
  padding: 0;
  margin: 0;
  font-size: 0rem;
  opacity: 0;
}

.Card .description ul {
  margin: 0.4375rem 0 0 0;
  transition: all 0.15s;
}

.Card .description.collapsed ul {
  margin: 0;
}