.Card {
  padding: var(--margins);
  text-align: left;
  flex: 1 1 auto;
  color: inherit;
  border-radius: var(--border-radius);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: calc(-1 * var(--border-radius));
  max-width: 100%;
  width: min-content;
  background: #262626;
  box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.1) inset,1px 0px 0px 0px rgba(255,255,255,0.1) inset,-1px 0px 0px 0px rgba(0,0,0,0.1) inset;
  transition: all 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  user-select: none;
  cursor: pointer;
  h2 {
    width: max-content;
    max-width: calc(var(--client-width) - 2.5 * var(--margins));
    margin: 0 0 calc(var(--margins) / 2) calc(var(--margins) / -2);
    font-size: 1.125rem;
    display: flex;
    align-items: center;
    img {
      margin-right: calc(var(--margins) / 5);
    }
  }
  p {
    margin: 0;
    width: max-content;
    max-width: calc(var(--client-width) - 3 * var(--margins));
    font-size: 1rem;
  }
}

.ongoing {
  color: #ffffff;;
  background: #3d5a99;
}

.ongoing.maintenance {
  background: #964040;
}

.Card:hover,
.Card:focus,
.Card:active {
  background: #2c2c2c;
}

.ongoing:hover,
.ongoing:focus,
.ongoing:active {
  background: #5990ff;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.71);
  animation: fade 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.popup-content {
  margin: auto;
  width: fit-content;
  max-width: calc(min(var(--main-width), 100%) - 2 * var(--margins));
  min-width: calc(320px - 2 * var(--margins));
  animation: anvil 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.CardModal {
  margin: auto;
  padding: var(--margins);
  text-align: left;
  flex: 1 1 auto;
  color: inherit;
  border-radius: var(--border-radius);
  width: fit-content;
  max-width: 100%;
  background: #262626;
  box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.1) inset,1px 0px 0px 0px rgba(255,255,255,0.1) inset,-1px 0px 0px 0px rgba(0,0,0,0.1) inset;
  h2 {
    width: max-content;
    max-width: calc(var(--client-width) - 2.5 * var(--margins));
    margin: 0 0 calc(var(--margins) / 2) calc(var(--margins) / -2);
    font-size: 1.125rem;
    display: flex;
    align-items: center;
    img {
    margin-right: calc(var(--margins) / 5);
    }
  }
  p {
    margin: 0;
    width: max-content;
    max-width: calc(var(--client-width) - 3 * var(--margins));
    font-size: 1rem;
  }
  .description {
    padding: 0;
    margin: 0;
    padding-top: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    text-align: left;
    ul {
      margin: 0.5rem 0 0 0;
    }
  }
}

@keyframes anvil {
  0% {
    opacity: 0;
  }
  1% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}