.ToDo {
  padding: calc(var(--margins) / 2);
  text-align: left;
  flex: 1;
  color: #ccc;
  width: auto;
  background: #262626;
  border: 1pt solid #2A2A2A;
  transition: all 0.15s;
  display: flex;
  flex-flow: row;
  justify-content: left;
  align-items: center;
}

.ToDo:hover,
.ToDo:focus,
.ToDo:active {
  background: #333333;
}

.ToDo > input {
  margin-right: calc(var(--margins) / 2);
}

.ToDo .duration {
  flex: 1 0 0;
  align-self: flex-end;
  text-align: right;
  font-size: 0.75rem;
  color: #999;
}