.ToDo {
  padding: calc(var(--margins) / 2);
  text-align: left;
  flex: 1;
  color: #ccc;
  background: #262626;
  border: 1pt solid #2A2A2A;
  transition: all 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  user-select: none;
}

.ToDo:hover,
.ToDo:focus,
.ToDo:active {
  background: #333333;
}

.ToDo > label {
  display: flex;
  flex-flow: row;
  justify-content: left;
  align-items: center;
}

.ToDo > label > input {
  margin-right: calc(var(--margins) / 2);
}

.ToDo > .duration {
  align-self: flex-end;
  flex: 1 0 fit-content;
  text-align: right;
  font-size: 0.75rem;
  color: #999;
}