.App-header {
  background-color: #1b1b1b;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #E5E5E5;
  padding: var(--margins);
}

.title,
.description {
  text-align: center;
}

.title {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  font-size: 0.875rem;
}