@import url(//fonts.googleapis.com/css?family=Droid+Sans+Mono);

.footer {
  font-size: 0.75rem;
  max-width: 100%;
  color: #999;
  align-items: stretch;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.footer-time,
.footer-credits,
.footer-legal {
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.footer-time {
  background: #4D5153;
  color: #cccccc;
}

.footer-credits {
  padding: calc(var(--margins) / 4);
  background: #484C4E;
  color: #cccccc;
}

.footer-legal {
  font-size: 10pt;
  background: #3F4345;
  color: #999;
}

.footer-time div,
.footer-credits div,
.footer-legal div {
  padding: calc(var(--margins) / 8);
  margin: calc(var(--margins) / 8) var(--margins);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-time div span {
  margin: 0 calc(var(--margins) / 8);
}

.footer-time {
  font-family: "Droid Sans Mono", source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.footer-legal div {
  margin-top: calc(var(--margins) / 6);
  margin-bottom: calc(var(--margins) / 6);
}

.footer a {
  color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  height: 1em;
  width: 1em;
  border-radius: 50%;
}
