.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.App-header {
  background-color: #1b1b1b;
  min-height: 152px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #E5E5E5;
  padding: 0.5rem;
}

.title,
.description {
  text-align: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  line-height: 1.2;
  font-size: 1.125rem;
}

.main {
  padding: 20px 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #4D5153;
}

.container {
  background: #383838;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  border-radius: 6px;
  border: 1px solid #222222;
  min-height: inherit;
  padding: 0 10px;
}

.invisible {
  visibility: hidden;
  flex: 1;
}

.grid {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: stretch;
  max-width: inherit;
  width: 100%;
  padding: 10px;
}

.footer {
  padding: 1.125rem 0;
  border-top: 3px solid #484C4E;
  background: #3f4345;
  max-width: 100vw;
  color: #999;
  --divider: 1px;
  --column-gap: 20px;
  --border: 1px;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.footer a {
  color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer div {
  line-height: 1.2;
  margin: 0 calc(var(--column-gap));
  display: flex;
  align-items: center;
  justify-content: center;
}