.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.main {
  padding: 20px 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #4D5153;
}

.container {
  background: #383838;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  border-radius: 6px;
  border: 1px solid #222222;
  min-height: inherit;
  padding: 0 10px;
}

.invisible {
  visibility: hidden;
  flex: 1;
}

.grid {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: stretch;
  max-width: inherit;
  width: 100%;
  padding: 10px;
}
