@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  text-shadow: 1px 1px #1717177f;
}

img[src$=".gif"],
img[src$=".png"] {
  image-rendering: -webkit-optimize-contrast;
}

@layer base {
  * {
    @apply max-w-full;
  }
  *,
  *::before,
  *::after {
    @apply box-content;
  }
}
