@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

img[src$=".gif"],
img[src$=".png"] {
  image-rendering: -webkit-optimize-contrast;
}

@layer base {
  * {
    @apply max-w-full;
  }
  *,
  *::before,
  *::after {
    @apply box-content;
  }
  ul {
    @apply list-disc list-image-dot2 space-y-3 pl-6;
  }
  ul li ul {
    @apply list-disc list-image-dot3 py-3 pl-4;
  }
  ol {
    @apply list-inside list-decimal;
  }
}
